.container {

  display: flex;

  justify-content: space-between;

  margin: 20px 0;

  gap: 15px;

}

.select {

  padding: 12px;

  border-radius: 10px;

  border: 1px solid #d1d5db;

}

@media(max-width:600px){

  .container{

    flex-direction: column;

  }

}